# create ~/.config/git/config file with the flollowing:
# [include]
# 	path = ~/.config/git/global.config
# [includeIf "gitdir:~/projects/github.com/org/"]
# 	path = ~/org.git.inc
# [gpg "ssh"]
# 	allowedSignersFile = ~/git.allowed_signers
# see: https://developer.1password.com/docs/ssh/git-commit-signing/#configure-multiple-commit-signing-setups
[user]
	name = tkdn
	email = tkdnation@gmail.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPozDmL1rhNqi9f7xnC805NHhqophKqznj+H5l9vlsC1
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
	gpgsign = true
[alias]
	p = pull
	f = fetch --prune
	graph = log --decorate --graph --name-status --oneline
	diff = diff --color | diff-so-fancy
	st = status
	cb = checkout -b
	rc = config --local -l
	acme = commit --amend --no-edit
	setname = config --local user.name
	setemail = config --local user.email
	push-f = push --force-with-lease --force-if-includes
	stash-u = stash -u
	swicth = switch
	logv = "!sh -c '\ngit log --pretty=\"%h %G? %s\" \"$@\" |\nawk '\"'\"'{\nif ($2==\"G\")\nprintf \"\\033[32m✔︎ Verified\\033[0m %s %s\\n\", $1, substr($0, index($0,$3));\nelse\nprintf \"\\033[31m✘ Unverified\\033[0m %s %s\\n\", $1, substr($0, index($0,$3));\n}'\"'\"'\n' sh"
[push]
	default = current
[core]
	precomposeunicode = true
	quotepath = false
	commentChar = %
	ignorecase = false
	editor = code --wait
[pull]
	rebase = false
[init]
	defaultBranch = main
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[ghq]
	root = ~/projects
