{
  {{ if env "CALUDE_AWS_PROFILE" }}
  "awsAuthRefresh": "aws sso login --profile {{ env "CALUDE_AWS_PROFILE" }}",
  "env": {
    "AWS_PROFILE": "{{ env "CALUDE_AWS_PROFILE"  }}"
  },
  {{ end }}
  "permissions": {
    "allow": [
      "Bash(go test:*)",
      "Bash(go build:*)",
      "Bash(go list:*)",
      "Bash(golangci-lint run:*)",
      "Bash(goimports:*)",
      "Bash(go generate:*)",
      "Bash(git commit:*)",
      "Bash(git add:*)",
      "Bash(git verify-commit:*)",
      "Bash(bundle exec rspec:*)",
      "Bash(bundle exec rubocop:*)",
      "Bash(gh pr view:*)",
      "Bash(gh pr diff:*)",
      "Bash(gh pr create:*)",
      "Bash(gh run view:*)",
      "Bash(gh run list:*)",
      "Bash(gh run download*)",
      "Bash(gh run watch*)",
      "Bash(find:*)",
      "Bash(grep:*)",
      "Bash(tail:*)",
      "Bash(head:*)",
      "Bash(sed:*)",
      "Bash(exit 1)",
      "Bash(python3 -:*)",
      "Bash(code:*)"
    ],
    "deny": [
      "Bash(rm:*)",
      "Read(.env.*)",
      "Read(.env)",
      "Read(.envrc)",
      "Bash(git push:*)"
    ]
  },
  "enabledPlugins": {
    "gopls-lsp@claude-plugins-official": true,
    "ruby-lsp@claude-plugins-official": true
  },
  "spinnerVerbs": {
    "mode": "replace",
    "verbs": [
      "ﾜｧ…",
      "なんとかなれーっ",
      "ﾊｰｯ!!!",
      "ヤーッ！",
      "討伐ッ！",
      "うま…",
      "泣いちゃった…",
      "やだッ…",
      "こわいよォ…",
      "しんど…",
      "どうして…",
      "えらいッ",
      "がんばったねッ",
      "うれしいッ",
      "でかつよ…",
      "草むしり検定…",
      "合格ッ",
      "不合格…",
      "やりなおしッ",
      "ギチギチ…",
      "オデ…",
      "フッ…",
      "すごいッ",
      "イヤッ",
      "むちゃうま…"
    ]
  },
  "alwaysThinkingEnabled": false,
  "theme": "dark-daltonized"
}
